@import 'variables';
@import 'font';
@import 'responsive';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

// Spacing
.m-40 {
  margin: 40px 0;
}

// Section
.section {
  padding: 40px 0;
}
